.styled-table_index {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%
}
.styled-table_index thead tr {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
}
.styled-table_index th,
.styled-table_index td {
    padding: 12px 15px;
}
.styled-table_index tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table_index tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table_index tbody tr:last-of-type {
    border-bottom: 2px solid #343a40;
}
.styled-table_index tbody tr.active-row {
    font-weight: bold;
    color: #343a40;
}




.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%
}
.styled-table thead tr {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #343a40;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #343a40;
}

a{
    margin-right: 15px;
    color: blue;
}

.selectedLink{
    color: red;
}

.break{
    margin: 5px 0;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
.page_index {
    text-align: center;
}
